<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <span><h4>{{position}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{nombre.nombre}}</h3>
    <ul>
      <li
        *ngFor="let servicio of nombre.servicios">
          <span [ngSwitch]="servicio">
          <i *ngSwitchCase="'desayuno'" style="color: red">desayuno</i>
            <i *ngSwitchDefault>default</i>

          </span>
    </ul>
    <a href="#" class="btn-card" (click)="ir()">Ir</a>
    <!--<span [style.display]="nombre.isSelected() ? '' : 'none'" > seleccionado</span>-->
    <span *ngIf="nombre.isSelected()">
       seleccionado
      </span>
  </div>
</div>
